@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700;900&family=Work+Sans:wght@200;500;600;700;800;900&display=swap');
body{
    margin:0 180px;
}
.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* position: fixed; */
    width: 100%;
    background-color: #ffffff;
    height: 73px;
}
.Zina {
    font-family:Nunito;
    font-size: 15px;
    line-height: 30px;
    color: #ababab;
    cursor: pointer;
    margin: 10px;
    display: block;
    }
    .Zina:hover {
        color: indigo;
    }
    
    .GZ7 {
        position: relative;
    }
    .GZ7:hover .minilist {
        display: flex;
    }
.logo {
    height: 25px;
    width: 20.31px;
}
.pos {
    display: flex;
    align-items: center;
}
.fontlogo {
    font-family:Newsreader;
    font-style: italic;
    font-size: large;
}
.dispcore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fontcore {
    font-family: Roboto;

}
.logocore {
    height: 300px;
    width: 280px;
}
.titleAS {
    font-family: Nunito;
    font-weight: 900;
    color: indigo;
    font-size: 40px;
}
.box1 {
    border: 1px solid rgb(179, 154, 183);
    background-color:rgb(179, 154, 183);
    border-radius: 10px;
    padding: 15px;

}
.minilist {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    display: none;
    position: absolute;
    margin-left: -150px;
    justify-content:left;
    box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -webkit-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -moz-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    padding: 5px;
    
}
.ZinaMinilist {
    color: black;
    background-color:#ffffff;
    height: 42px;
    width: 220px;
    padding: 12px 16px 12px 16px;
    display: inline;
    margin-right: 20px;
}
.ZinaMinilist:hover {
    color: indigo;
}
.PhtDsh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formPht {
    height: 200px;
    width: 200px;
}
.Dsrt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formDsrt {
    height: 200px;
    width: 200px;
}
.BevPht {
    height: 200px;
    width: 120px;
}
.Bev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img, #parent {
cursor: pointer;

}
.card:hover > img{
opacity:1;
transform: scale(1.2);
}
.instagram {
    height: 50px;
    width: 50px;
}

img, #parent {
cursor: pointer;

}
.card:hover > img{
opacity:1;
transform: scale(1.2);
}
.facebook {
    height: 50px;
    width: 50px;
}

img, #parent {
cursor: pointer;

}
.card:hover > img{
opacity:1;
transform: scale(1.2);
}
.tiktok {
    height: 50px;
    width: 50px;
}
.Social {
    display: flex;
    justify-content: space-between;
}
.city {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tswr {
    height: 240px;
    width: 320px;
}
.pol {
    font-family:Roboto;
    padding-left: 5px;
}
.SM {
    display: flex;
}

/* .TopPage{
    border: 1px solid rgb(179, 154, 183);
    background-color:rgb(179, 154, 183);
    border-radius: 10px;
    width: 50px;
    height: 20px;
    text-align: center;
    padding: 30px;
    margin: auto;
    text-decoration: none;
    font-family:Roboto;
} */

@media screen and (max-width:600px){
    body{
        margin:0 30px;
    }


}
.card {
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: 350px;
    box-shadow: 0 40px 60px -6px black;
  }
  
  .card-title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #6184a8;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  
  .card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
  }
  
  .card-desc {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
  }
  
  .card:hover .card-desc {
    opacity: 1;
    height: 100%;
  }
  
  h1 {
    font-size: 2.8rem;
    color: #fff;
    margin: 40px 0 20px 0;
    text-align: center;
  }
    
