@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700;900&family=Work+Sans:wght@200;500;600;700;800;900&display=swap');
body{
    margin:0 180px;
}
.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    /* position: fixed; */
    width: 100%;
    background-color: #ffffff;
    height: 73px;
}
.Zina {
    font-family:Nunito;
    font-size: 15px;
    line-height: 30px;
    color: #ababab;
    cursor: pointer;
    margin: 10px;
    display: block;
    }
    .Zina:hover {
        color: indigo;
    }
    
    .GZ7 {
        position: relative;
    }
    .GZ7:hover .minilist {
        display: flex;
    }
.logo {
    height: 25px;
    width: 20.31px;
}
.pos {
    display: flex;
    align-items: center;
}
.fontlogo {
    font-family:Newsreader;
    font-style: italic;
    font-size: large;
}
.dispcore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fontcore {
    font-family: Roboto;

}
.logocore {
    height: 300px;
    width: 280px;
}
.titleAS {
    font-family: Nunito;
    font-weight: 900;
    color: indigo;
    font-size: 40px;
}
.box1 {
    border: 1px solid rgb(179, 154, 183);
    background-color:rgb(179, 154, 183);
    border-radius: 10px;
    padding: 15px;

}
.minilist {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    display: none;
    position: absolute;
    margin-left: -150px;
    justify-content:left;
    box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -webkit-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    -moz-box-shadow: -7px 8px 24px 0px rgba(110,99,99,0.69);
    padding: 5px;
}
.ZinaMinilist {
    color: black;
    background-color:#ffffff;
    height: 42px;
    width: 220px;
    padding: 12px 16px 12px 16px;
}
.ZinaMinilist:hover {
    color: indigo;
}
.PhtDsh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formPht {
    height: 200px;
    width: 200px;
}
.Dsrt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.formDsrt {
    height: 200px;
    width: 200px;
}
.BevPht {
    height: 200px;
    width: 120px;
}
.Bev {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}